@import 'buttons';
@import 'forms';
@import 'layout';
@import 'lists';
@import 'text';
@import 'icons';
@mixin media-protector() {
    &::after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 4;
        width: 100%;
        height: 100%;
    }
}
