---
notes: |
  Headings should be added in hierarchical order, not based on their appearance.
  Note that classes are available to easily modify a heading's appearance for such cases.
---
<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
<h2>Etiam varius justo nec ligula maximus consectetur</h2>
<h3>Aenean interdum dolor nec eleifend eleifend.</h3>
<h4>Vivamus vitae tellus maximus</h4>
<h5>Vivamus vitae tellus maximus</h5>
<h6>Vivamus vitae tellus maximus</h6>
<h1 class="h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
<h2 class="h1">Etiam varius justo nec ligula maximus consectetur</h2>
<h3 class="h4">Aenean interdum dolor nec eleifend eleifend.</h3>
<h4 class="h2">Vivamus vitae tellus maximus</h4>
