<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed porta leo, quis congue dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In risus justo, congue eget dapibus vitae, varius faucibus leo. </p>
  <p>Phasellus nulla elit, porta in pharetra lacinia, semper in metus. Nullam at odio vel metus tempus malesuada a eu arcu. Quisque vitae pharetra neque. Aenean scelerisque, nibh vel sagittis sodales, elit justo feugiat quam, eget aliquet nunc velit vulputate est.</p>
  <cite>&mdash; Very famous person</cite>
</blockquote>
