---
  notes: |
  Images are set up with a  `max-width` of 100% to help with easy responsiveness. Turn this off with `.img--no-max`.

  Center images with `.img--centered` and make an *square* image crop to a circle using `.img--circle`.

  If for some reason you want to protect an image from being downloaded via a right-click, add a `div.image-protector` around the image. While not foolproof for folks who know what they're doing, this prevents the average end user from being able to right-click on the image.
---
<img src="https://images.unsplash.com/photo-1506508839781-65d2a514b73a?auto=format&fit=crop&w=3206&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" />
