---
  notes: |

  Chips are small tag-like components used for marking tiny chunks of data. Use `.chip` on an `i`, `b`, or `span` tag.
  Use any of the common modifiers to alter the color as well. When you want to enforce a chip to stay as a perfect circle use `.chip--circle`
---

<span class="chip">Sample <i class="icon icon--close" title="remove"></i></span>
<span class="chip chip--success">4</span>
<span class="chip chip--warning">2 overdue</span>
<span class="chip chip--circle chip--nav">124</span>
