---
notes: |
  We often use lists but don't want to see bullets or numbers before each item. Keep other formatting but remove bullets or numbers and default left spacing by adding `.list--unstyled`.

  Stack on `.list--tight` to further trim excess space between items.
---
<ul class="list--unstyled">
  <li>Aenean vel risus eget risus tristique fermentum vitae in metus.</li>
  <li>In hendrerit felis ac lectus pretium, accumsan consequat risus tempus.</li>
  <li>Quisque a quam ultrices, pretium massa non, ultricies tortor.</li>
  <li>Sed faucibus mi vitae hendrerit bibendum.</li>
</ul>
