---
notes: |
  Often we mark a set of similar components as a list and intend to display them in a tile fashion. This can be accomplished with the `.tiles` setting and one of the following arrangements:

  * `.tiles--2-up` -- display 2 tiles per row.
  * `.tiles--3-up` -- display 3 tiles per row.
  * `.tiles--4-up` -- display 4 tiles per row.
  * `.tiles--5-up` -- display 5 tiles per row.

  These tiles also get a standard padding by default and play within layout gutters by default. Adjust spacing as follows:

  * undo padding with `.tiles--no-pad`
  * fill gutters with `.tiles--fill-gutters`
  * add additional spacing between rows with `.tiles--spaced`.

  Apply alignment settings as follows:

  * center the items *within* tiles with `.tiles--center-within`
  * center the tiles themselves with `.tiles--centered`
  
---
<ul class="tiles tiles--4-up tiles--spaced">
  <li>
    <img src="http://placehold.it/200x200" class="img--centered" />
    <p>Aenean vel risus eget risus tristique fermentum vitae in metus.</p>
  </li>
  <li>
    <img src="http://placehold.it/200x200" class="img--centered" />
    <p>In hendrerit felis ac lectus pretium, accumsan consequat risus tempus.</p>
  </li>
  <li>
    <img src="http://placehold.it/200x200" class="img--centered" />
    <p>Quisque a quam ultrices, pretium massa non, ultricies tortor.</p>
  </li>
  <li>
    <img src="http://placehold.it/200x200" class="img--centered" />
    <p>Sed faucibus mi vitae hendrerit bibendum.</p>
  </li>
  <li>
    <img src="http://placehold.it/200x200" class="img--centered" />
    <p>Aenean vel risus eget risus tristique fermentum vitae in metus.</p>
  </li>
  <li>
    <img src="http://placehold.it/200x200" class="img--centered" />
    <p>Aenean vel risus eget risus tristique fermentum vitae in metus.</p>
  </li>
  <li>
    <img src="http://placehold.it/200x200" class="img--centered" />
    <p>In hendrerit felis ac lectus pretium, accumsan consequat risus tempus.</p>
  </li>
  <li>
    <img src="http://placehold.it/200x200" class="img--centered" />
    <p>Quisque a quam ultrices, pretium massa non, ultricies tortor.</p>
  </li>
  <li>
    <img src="http://placehold.it/200x200" class="img--centered" />
    <p>Sed faucibus mi vitae hendrerit bibendum.</p>
  </li>
  <li>
    <img src="http://placehold.it/200x200" class="img--centered" />
    <p>Aenean vel risus eget risus tristique fermentum vitae in metus.</p>
  </li>
</ul>
