.row {
    @include row;
}

.row--centered {
    justify-content: center;
}

.row--justified {
    justify-content: space-between;
}

.col--self-size {
    align-content: flex-start;
}

.col--fill-gutters {
  @include fill-padding;
}

// Default (small device) columns
.col--full {
  @include grid-col(1);
}
.col--md-full {
  @include device-col($width-tablet, 1);
}
.col--lg-full {
  @include device-col($width-desktop, 1);
}
@for $div from 1 through 12 {
  @for $col from 1 through ($div - 1) {
    .col--#{$col}-#{$div} {
      @include grid-col($col/$div);
    }
    .col--md-#{$col}-#{$div} {
      @include device-col($width-tablet, $col/$div);
    }
    .col--lg-#{$col}-#{$div} {
      @include device-col($width-desktop, $col/$div);
    }
  }
}

// Push settings
.col-push--md-clear {
  @include device-col-push($width-tablet, 0);
}
.col-push--lg-clear {
  @include device-col-push($width-desktop, 0);
}
@for $div from 1 through 12 {
  @for $col from 1 through ($div - 1) {
    .col-push--#{$col}-#{$div} {
      @include grid-col-push($col/$div);
    }
    .col-push--md-#{$col}-#{$div} {
      @include device-col-push($width-tablet, $col/$div);
    }
    .col-push--lg-#{$col}-#{$div} {
      @include device-col-push($width-desktop, $col/$div);
    }
  }
}
