.tiles {
    @include list-compound;
}
// Modifiers
.tiles--centered {
    justify-content: center;
}

.tiles--center-within {
    & > * {
        text-align: center;
    }
}

.tiles--fill-gutters {
    @include fill-padding;
}

.tiles--no-pad {
    li {
        padding-left: 0;
        padding-right: 0;
    }
}

.tiles--spaced {
    & > * {
        margin-bottom: $baseline * 2;
    }
}
// Tileup modifiers
.tiles--2-up {
    & > * {
        @include grid-col(1/2);
    }
}

.tiles--3-up {
    & > * {
        @include grid-col(1);
        @include device-col($width-tablet, 1/3);
    }
}

.tiles--4-up {
    & > * {
        @include grid-col(1/2);
        @include device-col($width-tablet, 1/4);
    }
}

.tiles--5-up {
    & > * {
        @include grid-col(1/3);
        @include device-col($width-tablet, 1/5);
    }
}

.tiles--6-up {
    & > * {
        @include grid-col(1/3);
        @include device-col($width-tablet, 1/6);
    }
}

.tiles--7-up {
    & > * {
        @include grid-col(1/3);
        @include device-col($width-tablet, 1/7);
    }
}

.tiles--8-up {
    & > * {
        @include grid-col(1/2);
        @include device-col($width-tablet, 1/8);
    }
}
