---
notes: |
  Button styles are native on the `button` tag but can also be applied to any element by adding `.btn` to it, particularly for `a` and `input` that need to look like buttons.

  There are several color variations:

  * default is a "neautral" grey coloring
  * `.btn--success`, `.btn--nav`, `.btn--primary`, `.btn--secondary`, `.btn--danger`, `.btn--alert`, `.btn--warning`, and `.btn--info`.
---
<button>Cancel</button>
<button class="btn--primary">Submit</button>
<button class="btn--success">Subscribe</button>
<button class="btn--alert">Edit</button>
<button class="btn--warning">Cancel</button>
<button class="btn--danger">Delete</button>
<a href="#" class="btn btn--info">Submit</a>
<input class="btn btn--nav" value="Discussion" />
