---
notes: |
  Use `.btn--small` to make a button a little shorter such as for use in small spaces.
---
<button class="btn--small">Cancel</button>
<button class="btn--primary btn--small">Submit</button>
<button class="btn--success btn--small">Subscribe</button>
<button class="btn--alert btn--small">Edit</button>
<button class="btn--warning btn--small">Cancel</button>
<button class="btn--danger btn--small">Delete</button>
<a href="#" class="btn btn--info btn--small">Submit</a>
<input class="btn btn--nav btn--small" value="Discussion" /">
