---
notes: |
  Buttons that will only hold an icon should implement `.btn--icon` and can then contain any icon desired. Combine with `.btn--small` to make small icon buttons.
---
<button class="btn btn--danger btn--icon">
  <i class="icon icon--trash"></i>
</button>
<button class="btn btn--nav btn--icon">
  <i class="icon icon--email"></i>
</button>
<a class="btn btn--success btn--icon" href="#">
  <i class="icon icon--key"></i>
</a>
<button class="btn--small btn--danger btn--icon btn--small">
  <i class="icon icon--trash"></i>
</button>
<a class="btn btn--nav btn--icon btn--small" href="#">
  <i class="icon icon--email"></i>
</a>
<a class="btn btn--success btn--icon btn--small" href="#">
  <i class="icon icon--key"></i>
</a>
