---
notes: |
  Buttons can also be set up with colored text and no background with `.btn--clear`.
  This is particularly helpful buttons meant to bear less visual weight or with icons.
  This can also be combined with other cleasses such as `.btn--icon` and/or `.btn--small`
---
<button class="btn--clear">Cancel</button>
<button class="btn btn--nav btn--clear">Learn more &raquo;</button>
<button class="btn btn--danger btn--icon btn--clear">
  <i class="icon icon--trash"></i>
</button>
<a class="btn btn--nav btn--icon btn--clear" href="#">
  <i class="icon icon--email"></i>
</a>
<a class="btn btn--success btn--icon btn--clear" href="#">
  <i class="icon icon--key"></i>
</a>

<br />

<button class="btn--small btn--clear">Cancel</button>
<button class="btn--small btn--nav btn--clear">Learn more &raquo;</button>
<button class="btn--small btn--danger btn--icon btn--clear btn--small">
  <i class="icon icon--trash"></i>
</button>
<a class="btn btn--nav btn--icon btn--clear btn--small" href="#">
  <i class="icon icon--email"></i>
</a>
<a class="btn btn--success btn--icon btn--clear btn--small" href="#">
  <i class="icon icon--key"></i>
</a>
